/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#editBar {
	display: none;
	background-color: black;
	height: 60px;
	justify-content: center;
	align-items: center;
}

#editBar p, #editBar i{
	color: white;
	padding: 5px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

#error-message {
	color: red;
	margin-top: 15px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul a {
	text-decoration: none;
	color: initial;
}

nav img {
	width: 50%;
	display: flex;
}

li:hover {
	color: #B1663C;
}

#logout-link {
	display: none;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.mes-projets {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mes-projets h2 {
	position: absolute;
}

.modifier {
	display: none;
	margin-left: 350px;
}

.modifier p {
	cursor: pointer;
	margin-left: 10px;
}

#portfolio h2 {
	text-align: center;
}

.filtres {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 50px 0px 50px 0px;
}

button {
	background-color: initial;
	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;
	border: solid;
	border-width: 1.4px;
	border-radius: 50px;
	padding: 10px 25px 10px 25px;
	border-color: #1D6154;
	cursor: pointer;
}

button.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

dialog {
	width: 750px;
	border: none;
	border-radius: 10px;
	padding: 0;
}

.dialog-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.dialog-add-works {
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.dialog-container .icon-x {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.dialog-add-works .icon-x {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

dialog i {
	cursor: pointer;
	font-size: 20px;
}

dialog .works {
	width: 75%;
	padding-bottom: 75px;
	margin-bottom: 25px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px 10px;
}

.works figure {
	position: relative;
}

.works img {
	max-width: 100%;
	height: auto;
}

.delete-icon-container {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	font-size: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-icon {
	font-size: 10px;
	color: white;
}

dialog p {
	font-size: 26px;
	padding: 20px 0px 40px 0px;
}

dialog button {
	width: 250px;
	background-color:#1D6154;
	color: white;
	outline: none;
	font-size: 14px;
}

.dialog-add-works form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input[type="submit"].disabled {
    background-color: #A7A7A7;
	color: white;
    cursor: not-allowed;
    pointer-events: none;
}

input[type="submit"].enabled {
    background-color: #1D6154;
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

#contact, #login {
	width: 50%;
	margin: auto;
}

#contact > *, #login > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form, #login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea, #login input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login p {
	text-decoration: underline;
	cursor: pointer;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}
	
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

